*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.footer {
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px 10%;
}

.redes {
    color: white;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
}
.icon {
    max-height: 30px;
    max-width: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.icon:hover {
    transform: scale(1.3);
}