.lista-artistas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: #76ff7a;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 5px;
}

.pagination-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.pagination-number {
    font-size: 1.2rem;
    margin: 0 10px;
    color: white;
}