.App {
  text-align: center;
}

.lista-canciones {
  margin: 20px auto;
  max-width: 600px;
}

body {
  background-color: #121212; 
  color: #ffffff; 
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 0;
}