html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-color: #000; 
    color: #fff; 
    margin: 0; 
    overflow: auto;
}

.form-container {
    background-color: #333; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 800px; 
}

form {
    display: flex;
    flex-direction: column;
}

.form-columns {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin-right: 20px; 
}

.form-column:last-child {
    margin-right: 0; 
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
}

input, select {
    margin-top: 5px; 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #555;
}

.add-song-button {
    background-color: #76ff7a;
    color: black;
    border: 2px solid black;
    height: 50px;
    width: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50px;
}

.add-song-button:hover {
    background-color: black;
    color: white; 
}
.add-song-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.add-song-error {
    color: #f00; 
    margin-top: 10px; 
}
